<div class="container">
	<div class="row">
		<div class="panel panel-default panel-table">
			<div class="panel-heading">
				<div class="row">
					<div class="col col-xs-6">
						<h3 class="panel-title">DIARY</h3>
					</div>
				</div>
			</div>
			<div class="panel-body" *ngIf="!switch">
				<div class="row" id="calendar1">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 calendarHeight">
						<div class="month"> 
							<ul>
								<li class="prev mt-10" (click)="update_yr(-1)"><a href="javascript:void(0)" class="anchorNav">&#10094;</a></li>
								<li class="next mt-10" (click)="update_yr(1)"><a href="javascript:void(0)" class="anchorNav">&#10095;</a></li>
								<li>
									{{update_year}}
								</li>
							</ul>
						</div>
						<div class="month"> 
							<ul>
								<li class="prev mt-10" (click)="update_mon(-1)"><a href="javascript:void(0)" class="anchorNav">&#10094;</a></li>
								<li class="next mt-10" (click)="update_mon(1)"><a href="javascript:void(0)" class="anchorNav">&#10095;</a></li>
								<li>
									{{updateMonth}}
								</li>
							</ul>
						</div>

						<ul class="weekdays">
							<li>Mo</li>
							<li>Tu</li>
							<li>We</li>
							<li>Th</li>
							<li>Fr</li>
							<li>Sa</li>
							<li>Su</li>
						</ul>

						<ul class="days"> 
							<li *ngFor="let whitespace of forWhiteSpaces;">&nbsp;</li>
							<li *ngFor="let day of days" (click)="getDateForRecordFetch(day)" [ngClass]="{'active': day.activeCurrentDate,'activeClick': day.activeClickDate}">{{day.date}}</li>

						</ul>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 data-main">
							<h3 class="text-center">Contents of {{finalClickDate}}</h3>
							<div class="div">
								<ul> 
									<li *ngFor="let item of listItems">
										<a href="javascript:void(0);" (click)="populateItem(item.id)">{{item.title}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- table for document links -->

			<!-- panel table footer  -->
			<div class="panel-footer">
				<!-- *ngIf="!switch"> -->
				<div class="row">
					<div class="col col-xs-4">
						
					</div>
					<div class="col col-xs-8">
						<ul class="pagination hidden-xs pull-right">

						</ul>
						<ul class="pagination pull-right">
							<li><a href="#">«</a></li>
							<li><a href="#">»</a></li>
						</ul>
					</div>
				</div>
			</div><!-- panel table footer end -->
		</div>
		<div class="container mb10">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 data-main1 pos-r bg1">
					<div class="data-show">
						<div class="data-title"><h2 class="text-center">{{completeDiaryData.title}}</h2></div>
						<div class="data-date text-right">{{completeDiaryData.recordDate}}</div>
						<div class="data-content">{{completeDiaryData.content}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>